.loginForm {
  width: 40%;
  margin: auto;
}
@media only screen and (width < 800px) {
  .loginForm {
    width: 100%;
  }
}
@media only screen and (width < 1200px) {
  .loginForm {
    width: 70%;
  }
}

.loginForm input {
  font-size: 1.4rem;
  padding: 15px;
  width: 100%;
  border: 0;
  background: #f2f2f2;
  margin: 0 0 15px;
  box-sizing: border-box;
}
.loginForm input:focus {
  outline: none;
}

.loginForm button {
  width: 100%;
  margin: 0 0 15px;
  padding: 15px;
  color: #ffffff;
  background: var(--success);
  outline: 0;
  border: 0;
}

.logo {
  display: block;
  margin: auto;
}
